# Trip Expenses

In [1]:
import pandas as pd

In [2]:
# Trip expenses
data = {
    'Food': [38.15, 0, 109.75], 
    'Car': [139, 0, 0], 
    'Fuel': [25.08, 0, 0], 
    'Tickets': [0, 134, 0], 
    'Other': [95, 0, 250]
}
index = ['Diane', 'Kelly', 'John']
df = pd.DataFrame(data, index=index)

In [3]:
# Calculate amount owing
df['Total Paid'] = df.sum(axis=1)
average_cost = df['Total Paid'].mean()
df['Owing'] = (average_cost - df['Total Paid'])
df

         Food  Car   Fuel  Tickets  Other  Total Paid   Owing
Diane   38.15  139  25.08        0     95      297.23  -33.57
Kelly    0.00    0   0.00      134      0      134.00  129.66
John   109.75    0   0.00        0    250      359.75  -96.09

In [4]:
df.loc['Diane', 'Food':'Other'].sum()

297.23